/* 
# Front-end Style Guide









/********************************** Typography **********************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Space+Grotesk:wght@500&display=swap");
/********************************** COLORS **********************************/
/* Primary Color */
/* Secondary Color */
/********************************** MAIN **********************************/
/* Setting the margin, padding and box-sizing for all elements. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting the font size and font family for the body. */
body {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Setting the display of the main. It is also setting the height and widt */
.main-container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/********************************** CARD **********************************/
.logo {
  position: absolute;
  z-index: 1;
  top: 28px;
  left: -64px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 50vw;
  background-image: url(./src/assets/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: 59% 100%;
}
.card-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20.78%;
  left: 20%;
}
.card-container-front {
  position: relative;
  transform: translateX(-98px);
  margin-bottom: 29px;
}
.card-container-front-number {
  position: absolute;
  height: 36px;
  left: 7.16%;
  right: 9.62%;
  top: calc(50% - 18px + 34.5px);
}
.card-container-front-number span {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 3.42222px;
  color: hsl(0deg, 0%, 100%);
}
.card-container-front-info {
  display: flex;
  position: absolute;
  left: 7.16%;
  right: 7.13%;
  top: 81.84%;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
}
.card-container-front-info-name {
  position: absolute;
  left: 0%;
}
.card-container-front-info-date {
  position: absolute;
  right: 0%;
}
.card-container-back {
  position: relative;
}
.card-container-back span {
  position: absolute;
  top: 111px;
  left: 358px;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: hsl(0deg, 0%, 100%);
}

/********************************** FORM **********************************/
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.login-container label {
  color: hsl(278deg, 68%, 11%);
}
.login-container input {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 1px;
  padding-left: 1.15em;
  margin-top: 9px;
  outline: none;
  border: 1px solid hsl(278deg, 94%, 30%);
  border-radius: 8px;
  opacity: 2;
  cursor: pointer;
}
.login-container .redBorder {
  border: 1px solid hsl(0deg, 100%, 66%);
}
.login-container input::placeholder {
  font-size: 16px;
  color: hsl(279deg, 6%, 55%);
  opacity: 0.6;
}
.login-container button {
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  width: 25rem;
  height: 3rem;
  background-color: hsl(278deg, 68%, 11%);
  border: 1px solid hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
  border-radius: 8px;
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 60%;
}

.form-container-info-number, .form-container-info-name {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}
.form-container-info-name span {
  position: absolute;
  top: calc(50% - 7.5px - 106.5px);
  left: 0%;
}
.form-container-info-number span {
  position: absolute;
  top: calc(50% - 7.5px - 1px);
  left: 0%;
}
.form-container-info input {
  width: 25rem;
  height: 3rem;
}

.form-container-date {
  display: inline-flex;
  margin-bottom: 40px;
}
.form-container-date-mmyy {
  display: flex;
}
.form-container-date-mmyy input {
  margin-right: 10px;
  width: 4.6rem;
  height: 3rem;
}
.form-container-date-cvc {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.form-container-date-cvc span {
  position: absolute;
  top: calc(50% - 7.5px + 105px);
}
.form-container-date-cvc input {
  width: 13.6rem;
  height: 3rem;
}

.confirm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirm-container img {
  margin-bottom: 35px;
}
.confirm-container h2 {
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 3.42222px;
  margin-bottom: 16px;
  color: hsl(278deg, 68%, 11%);
}
.confirm-container p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 48px;
  color: hsl(279deg, 6%, 55%);
}

.form-container-date-mm {
  display: flex;
  flex-direction: column;
}
.form-container-date-mm span {
  position: absolute;
  top: calc(50% - 7.5px + 105px);
  left: 0%;
}

.form-container-date-yy {
  display: flex;
  flex-direction: column;
}
.form-container-date-yy span {
  position: absolute;
  top: calc(50% - 7.5px + 105px);
  left: 22%;
}

/********************************** UTILS **********************************/
/* A class that is used to change the style of the error message. */
.error {
  font-size: 12px;
  text-transform: none;
  letter-spacing: normal;
  color: rgba(206, 14, 14, 0.785);
}

/* A class that is used to hide the elements that are not needed at the moment. */
.inactive {
  display: none;
}

/********************************** MEDIA QUERIES **********************************/
/* A media query. It is used to change the style of the page when the screen size is less than 1190px. */
@media (max-width: 1190px) {
  .card-container {
    left: 10%;
  }
  .form-container {
    left: 55%;
  }
}
/* A media query. It is used to change the style of the page when the screen size is less than 1050px. */
@media (max-width: 1050px) {
  /* Changing the display of the main-container to flex and the flex-direction to column. */
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .logo {
    z-index: 3;
  }
  /* Setting the width and height of the card. It is also setting the
  background image and the background size and reposition the cards and their elements*/
  .card {
    width: 100%;
    height: 50%;
    background-image: url(./src/assets/bg-main-mobile.png);
    background-size: 100% 72%;
  }
  .card-container {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    top: 3%;
    left: 29%;
  }
  .card-container-front {
    position: absolute;
    z-index: 2;
  }
  .card-container-back {
    position: absolute;
    top: 32.5%;
    z-index: 1;
  }
  /* Setting the width and height of the login-container and reposition the form and their elements */
  .login-container {
    width: 100%;
    height: 50%;
  }
  .form-container {
    top: 50%;
    left: 30%;
  }
  /* Setting the position of the confirm-container */
  .confirm-container {
    position: absolute;
    top: 52%;
    left: 30%;
  }
}
/* A media query. It is used to change the style of the page when the screen size is less than 390px. */
@media (max-width: 390px) {
  .logo {
    z-index: 3;
    top: 19.5%;
  }
  /* Scaling the card to 60% of its original size and reposition the cards and their elements*/
  .card {
    background-size: 100%;
  }
  .card-container {
    transform: scale(0.6);
    left: 11.5%;
    top: 0%;
  }
  .card-container-front {
    z-index: 2;
    top: 10.5%;
  }
  .card-container-back {
    top: -25%;
    left: 2%;
    z-index: 1;
  }
  /* Scaling the form to 60% of its original size and reposition the cards and their elements*/
  .form-container {
    position: absolute;
    left: -2%;
    top: 30%;
    transform: scale(0.6);
  }
  .confirm-container {
    transform: scale(0.6);
    position: absolute;
    top: 35%;
    left: -2%;
  }
}

/*# sourceMappingURL=styles.css.map */
